@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);
:root {
  --fontBase: "Poppins", "Roboto", sans-serif;
  --fontSize: 14px;
  --colorBackground: 246, 248, 251;
  --colorText: 68, 68, 68;
}

@media (max-width: 575.98px) {
  .auth-card {
    width: 80% !important;
  }

  .info-card {
    width: 80% !important;
  }
}
@media (max-width: 767.98px) {
  .auth-card {
    width: 80% !important;
  }

  .info-card {
    width: 80% !important;
  }
}
.table {
  margin-bottom: 0 !important;
}

body.auth {
  background: #f8fafc;
  margin-bottom: 0 !important;
}
body.auth .payview-logo {
  color: rgb(var(--colorText));
  text-decoration: none;
  margin: 0 0 25px 0;
  font-size: 25px;
  font-weight: 500;
}
body.auth .no-account {
  color: #626976;
  font-size: 13px;
}
body.auth .no-account a {
  color: #0d6efd;
  text-decoration: none;
}
body.auth .no-account a:hover {
  text-decoration: underline;
}
body.auth .auth-card {
  box-shadow: rgba(30, 41, 59, 0.04) 0 2px 4px 0;
  border: 1px solid rgba(98, 105, 118, 0.16);
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
  width: 23%;
  margin: 0 0 20px 0;
  overflow: hidden;
}
body.auth .auth-card .hr-text {
  margin: 0;
}
body.auth .auth-card .auth-card-body {
  padding: 20px;
}
body.auth .auth-card .auth-card-body.error {
  border-top: 1px solid #f5c2c7;
  border-bottom: 1px solid #f5c2c7;
  margin: 10px 0 0 0;
  background: #f8d7da;
  color: #842026;
  font-size: 12px;
  padding: 15px 20px;
}
body.auth .auth-card .auth-card-body.error li {
  list-style-type: none;
}
body.auth .auth-card .auth-card-body.error strong {
  display: block;
  font-size: 13px;
}
body.auth .auth-card .auth-card-body.error.success {
  border-top: 1px solid #badbcc;
  border-bottom: 1px solid #badbcc;
  background: #d1e7dd;
  color: #0f5132;
}
body.auth .auth-card .auth-card-body.extra-padding {
  padding: 30px 20px 10px 20px;
}
body.auth .auth-card .auth-card-body h2 {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
}
body.auth .auth-card .auth-card-body p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #666666;
}
body.auth .auth-card .auth-card-body.border-bottom {
  border-bottom: 1px solid rgba(101, 109, 119, 0.16);
}
body.auth .auth-card .auth-card-body .form-label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #1e293b;
}
body.auth .auth-card .auth-card-body .btn {
  padding: 10px;
}

<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
=======
.btn.float-right {
  float: right;
  display: block;
  margin: 0 0 20px 0;
  position: relative;
}

>>>>>>> Stashed changes
.app-card {
  box-shadow: rgba(30, 41, 59, 0.04) 0 2px 4px 0;
  border: 1px solid rgba(98, 105, 118, 0.16);
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
  margin: 0 0 20px 0;
  overflow: hidden;
}
<<<<<<< Updated upstream
=======
.app-card a {
  color: rgb(var(--colorText));
  text-decoration: none;
}
.app-card a:hover .app-card-body {
  background: rgba(0, 0, 0, 0.03);
}
.app-card a .app-card-body.active {
  background: rgba(0, 0, 0, 0.03);
}
.app-card .btn {
  color: #fff;
}
>>>>>>> Stashed changes
.app-card.height-93 {
  height: 93px;
  overflow: hidden;
}
.app-card .app-card-header {
  border-bottom: 1px solid rgba(101, 109, 119, 0.16);
  padding: 20px;
  font-weight: 500;
}
.app-card .app-card-header a {
  float: right;
  margin-top: -2.5px;
  border-radius: 5px;
<<<<<<< Updated upstream
=======
  margin-left: 10px;
}
.app-card .app-card-header p.right {
  float: right;
  display: inline-block;
  font-weight: 400;
  font-size: 11px;
  margin: 4px 0 0 0;
}
.app-card .app-card-header p.right b {
  display: inline-block;
>>>>>>> Stashed changes
}
.app-card .app-card-body {
  padding: 20px;
}
<<<<<<< Updated upstream
.app-card .app-card-body.transactions {
  padding: 0;
}
=======
.app-card .app-card-body strong {
  font-weight: 600;
}
.app-card .app-card-body.categories {
  padding: 0;
}
.app-card .app-card-body.categories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.app-card .app-card-body.categories ul li {
  padding: 20px;
  border-bottom: 1px solid rgba(101, 109, 119, 0.16);
}
.app-card .app-card-body.categories ul li .text-right {
  text-align: right;
}
.app-card .app-card-body.categories ul li:last-child {
  border-bottom: 0;
}
.app-card .app-card-body.categories ul li p {
  margin: 0;
}
.app-card .app-card-body.categories ul li p strong {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.app-card .app-card-body.error {
  border: 1px solid #f5c2c7;
  background: #f8d7da;
  color: #842026;
  font-size: 12px;
  padding: 15px 20px;
  height: 70px;
  overflow: hidden;
}
.app-card .app-card-body.error i {
  float: right;
  font-size: 140px;
  margin: -70px -75px 0 0;
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.app-card .app-card-body.error li {
  list-style-type: none;
}
.app-card .app-card-body.error strong {
  display: block;
  font-size: 13px;
}
.app-card .app-card-body.error.info {
  color: #084298;
  background: #cfe2ff;
  border: 1px solid #b6d4fe;
}
.app-card .app-card-body.error.info kbd {
  background-color: #084298;
}
.app-card .app-card-body.error.info p {
  width: 90%;
}
.app-card .app-card-body.error.info i {
  color: rgba(8, 66, 152, 0.2);
}
.app-card .app-card-body.error.success {
  border: 1px solid #badbcc;
  background: #d1e7dd;
  color: #0f5132;
}
.app-card .app-card-body .nothing {
  padding: 20px;
}
.app-card .app-card-body .nothing a {
  color: rgb(var(--colorText));
}
.app-card .app-card-body.transactions {
  padding: 0;
}
.app-card .app-card-body.transactions.overview {
  overflow-y: scroll;
  max-height: 545px;
}
>>>>>>> Stashed changes
.app-card .app-card-body.transactions .transaction-item {
  padding: 20px;
  height: 83px;
  border-bottom: 1px solid rgba(101, 109, 119, 0.16);
}
.app-card .app-card-body.transactions .transaction-item .text-right {
  text-align: right;
}
.app-card .app-card-body.transactions .transaction-item p {
  margin: 0;
  padding: 0;
}
.app-card .app-card-body.transactions .transaction-item p.type {
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
}
.app-card .app-card-body.transactions .transaction-item p.amount {
  font-weight: 600;
  font-size: 16px;
  display: block;
}
.app-card .app-card-body.transactions .transaction-item p.category {
  margin-top: 2px;
}
.app-card .app-card-body.transactions .transaction-item p.date {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}
<<<<<<< Updated upstream
=======
.app-card .app-card-body.transactions .transaction-item .info-right {
  margin: 0 120px 0 0;
}
.app-card .app-card-body.transactions .transaction-item .btn-action {
  float: right;
  width: 45px;
  height: 45px;
  margin: -41px 0 0 15px;
  border-radius: 5px;
  box-shadow: rgba(30, 41, 59, 0.04) 0 2px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d6d8;
  background-color: #e2e3e5;
  color: #41464b;
  text-decoration: none;
}
.app-card .app-card-body.transactions .transaction-item .btn-action i {
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  font-size: 14px;
}
>>>>>>> Stashed changes
.app-card .app-card-body.transactions .transaction-item .icon {
  float: left;
  width: 45px;
  height: 45px;
  margin: 0 15px 0 0;
  border-radius: 5px;
  box-shadow: rgba(30, 41, 59, 0.04) 0 2px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d6d8;
  background-color: #e2e3e5;
  color: #41464b;
}
.app-card .app-card-body.transactions .transaction-item .icon i {
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  font-size: 14px;
}
.app-card .app-card-body.transactions .transaction-item .icon.green {
  border: 1px solid #badbcc;
  background-color: #d1e7dd;
  color: #0f5132;
}
.app-card .app-card-body.transactions .transaction-item .icon.red {
  border: 1px solid #f5c2c7;
  background-color: #f8d7da;
  color: #842029;
}
.app-card .app-card-body.transactions .transaction-item .icon.yellow {
  border: 1px solid #ffecb5;
  background-color: #fff3cd;
  color: #664d03;
}
.app-card .app-card-body.transactions .transaction-item:last-child {
  border-bottom: 0;
}
<<<<<<< Updated upstream
=======
.app-card .app-card-body.monthly a {
  text-transform: capitalize;
  margin: 0 0 7.5px 0;
}
.app-card .app-card-body.monthly .no-margin {
  margin: 0;
}
.app-card .app-card-body.monthly p {
  margin: 0;
  padding: 0;
}
.app-card .app-card-body.monthly p.info {
  color: rgba(0, 0, 0, 0.7);
}
.app-card .app-card-body.monthly p.fullname {
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 10px 0;
}
.app-card .app-card-body.monthly p.time {
  float: right;
  font-size: 13px;
  text-align: right;
  margin-top: -45px;
}
.app-card .app-card-body.monthly p.time strong {
  display: block;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
>>>>>>> Stashed changes
.app-card .app-card-body.info i {
  float: right;
  font-size: 140px;
  margin: -104px -75px 0 0;
  opacity: 0.6;
  color: rgba(0, 0, 0, 0.1);
<<<<<<< Updated upstream
=======
  display: inline-block;
}
.app-card .app-card-body.info a {
  float: right;
  margin-top: -43px;
  border-radius: 5px;
  margin-left: 10px;
  display: inline-block;
>>>>>>> Stashed changes
}
.app-card .app-card-body.info p {
  margin: 0;
  padding: 0;
}
.app-card .app-card-body.info p.info {
  color: rgba(0, 0, 0, 0.7);
}
.app-card .app-card-body.info p.fullname {
  font-weight: 600;
  font-size: 20px;
}
.app-card .app-card-body.info p.time {
  float: right;
  font-size: 13px;
  text-align: right;
  margin-top: -45px;
}
.app-card .app-card-body.info p.time strong {
  display: block;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
.app-card .app-card-body.stats .icon {
  float: left;
  width: 45px;
  height: 45px;
  margin: 0 15px 0 0;
  border-radius: 5px;
  box-shadow: rgba(30, 41, 59, 0.04) 0 2px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-card .app-card-body.stats .icon i {
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  font-size: 18px;
}
.app-card .app-card-body.stats .icon.green {
  border: 1px solid #badbcc;
  background-color: #d1e7dd;
  color: #0f5132;
}
.app-card .app-card-body.stats .icon.red {
  border: 1px solid #f5c2c7;
  background-color: #f8d7da;
  color: #842029;
}
.app-card .app-card-body.stats .icon.yellow {
  border: 1px solid #ffecb5;
  background-color: #fff3cd;
  color: #664d03;
}
.app-card .app-card-body.stats .icon.grey {
  border: 1px solid #d3d6d8;
  background-color: #e2e3e5;
  color: #41464b;
}
.app-card .app-card-body.stats p {
  margin: 0;
  padding: 0;
}
.app-card .app-card-body.stats p.title {
  display: inline-block;
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}
.app-card .app-card-body.stats p.month {
  float: right;
  display: inline-block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 1px;
}
.app-card .app-card-body.stats p.amount {
  font-weight: 600;
  font-size: 16px;
  display: block;
}
.app-card .app-card-body.stats p.amount.red {
  color: #842029;
}

html, body {
  margin: 0;
  padding: 0;
  background: rgb(var(--colorBackground));
  font-family: var(--fontBase);
  font-size: var(--fontSize);
  color: rgb(var(--colorText));
}

<<<<<<< Updated upstream
=======
>>>>>>> Stashed changes
>>>>>>> Stashed changes
.hr-text {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.6;
  height: 1px;
  color: #626976;
}
.hr-text::before {
  content: "";
  margin-right: 0.5rem;
  flex: 1 1 auto;
  height: 1px;
  background-color: currentColor;
  opacity: 0.16;
}
.hr-text::after {
  content: "";
  margin-left: 0.5rem;
  flex: 1 1 auto;
  height: 1px;
  background-color: currentColor;
  opacity: 0.16;
}

header ul li button {
  background: none;
  border: none;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}
header ul li button i {
  font-size: 20px;
}
header ul li button:hover {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
header ul li:hover a {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
header ul li a {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}
header ul li a.active {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
header ul li a i {
  font-size: 20px;
}
