<<<<<<< Updated upstream
=======
.btn {
    &.float-right {
        float: right;
        display: block;
        margin: 0 0 20px 0;
        position: relative;
    }
}

>>>>>>> Stashed changes
.app-card {
    box-shadow: rgb(30 41 59 / 4%) 0 2px 4px 0;
    border: 1px solid rgba(98, 105, 118, .16);
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 5px;
    margin: 0 0 20px 0;
    overflow: hidden;

<<<<<<< Updated upstream
=======
    a {
        color: rgb(var(--colorText));
        text-decoration: none;

        &:hover {
            .app-card-body {
                background: rgba(0,0,0,.03);
            }
        }

        .app-card-body {
            &.active {
                background: rgba(0,0,0,.03);
            }
        }
    }

    .btn {
        color: #fff;
    }

>>>>>>> Stashed changes
    &.height-93 {
        height: 93px;
        overflow: hidden;
    }

    .app-card-header {
        border-bottom: 1px solid rgba(101, 109, 119, 0.16);
        padding: 20px;
        font-weight: 500;

        a {
            float: right;
            margin-top: -2.5px;
            border-radius: 5px;
<<<<<<< Updated upstream
=======
            margin-left: 10px;
        }

        p {
            &.right {
                float: right;
                display: inline-block;
                font-weight: 400;
                font-size: 11px;
                margin: 4px 0 0 0;

                b {
                    display: inline-block;
                }
            }
>>>>>>> Stashed changes
        }
    }

    .app-card-body {
        padding: 20px;

<<<<<<< Updated upstream
        &.transactions {
            padding: 0;

=======
        strong {
            font-weight: 600;
        }

        &.categories {
            padding: 0;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 20px;
                    border-bottom: 1px solid rgba(101, 109, 119, 0.16);

                    .text-right {
                        text-align: right;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }

                    p {
                        margin: 0;

                        strong {
                            display: block;
                            font-weight: 400;
                            text-transform: uppercase;
                            font-size: 12px;
                            color: rgba(0,0,0,.5);
                        }
                    }
                }
            }
        }

        &.error {
            border: 1px solid #f5c2c7;
            background: #f8d7da;
            color: #842026;
            font-size: 12px;
            padding: 15px 20px;
            height: 70px;
            overflow: hidden;

            i {
                float: right;
                font-size: 140px;
                margin: -70px -75px 0 0;
                opacity: 0.6;
                color: rgba(0,0,0,.1);
                display: inline-block;
            }

            li {
                list-style-type: none;
            }

            strong {
                display: block;
                font-size: 13px;
            }

            &.info {
                color: #084298;
                background: #cfe2ff;
                border: 1px solid #b6d4fe;

                kbd {
                    background-color: #084298;
                }

                p {
                    width: 90%;
                }

                i {
                    color: rgba(8,66,152,.2);
                }
            }

            &.success {
                border: 1px solid #badbcc;
                background: #d1e7dd;
                color: #0f5132;
            }
        }

        .nothing {
            padding: 20px;

            a {
                color: rgb(var(--colorText));
            }
        }

        &.transactions {
            padding: 0;

            &.overview {
                overflow-y: scroll;
                max-height: 545px;
            }

>>>>>>> Stashed changes
            .transaction-item {
                padding: 20px;
                height: 83px;
                border-bottom: 1px solid rgba(101, 109, 119, 0.16);

                .text-right {
                    text-align: right;
                }

                p {
                    margin: 0;
                    padding: 0;

                    &.type {
                        font-weight: 400;
                        font-size: 13px;
                        color: rgba(0,0,0,.7);
                        text-transform: capitalize;
                    }

                    &.amount {
                        font-weight: 600;
                        font-size: 16px;
                        display: block;
                    }

                    &.category {
                        margin-top: 2px;
                    }

                    &.date {
                        font-size: 13px;
                        color: rgba(0,0,0,.4);
                    }
                }

<<<<<<< Updated upstream
=======
                .info-right {
                    margin: 0 120px 0 0;
                }

                .btn-action {
                    float: right;
                    width: 45px;
                    height: 45px;
                    margin: -41px 0 0 15px;
                    border-radius: 5px;
                    box-shadow: rgb(30 41 59 / 4%) 0 2px 4px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #d3d6d8;
                    background-color: #e2e3e5;
                    color: #41464b;
                    text-decoration: none;

                    i {
                        display: inline-block;
                        vertical-align: middle;
                        image-rendering: pixelated;
                        font-size: 14px;
                    }
                }

>>>>>>> Stashed changes
                .icon {
                    float: left;
                    width: 45px;
                    height: 45px;
                    margin: 0 15px 0 0;
                    border-radius: 5px;
                    box-shadow: rgb(30 41 59 / 4%) 0 2px 4px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #d3d6d8;
                    background-color: #e2e3e5;
                    color: #41464b;

                    i {
                        display: inline-block;
                        vertical-align: middle;
                        image-rendering: pixelated;
                        font-size: 14px;
                    }

                    &.green {
                        border: 1px solid #badbcc;
                        background-color: #d1e7dd;
                        color: #0f5132;
                    }

                    &.red {
                        border: 1px solid #f5c2c7;
                        background-color: #f8d7da;
                        color: #842029;
                    }

                    &.yellow {
                        border: 1px solid #ffecb5;
                        background-color: #fff3cd;
                        color: #664d03;
                    }
                }

                &:last-child {
                    border-bottom: 0;
                }
            }
        }

<<<<<<< Updated upstream
=======
        &.monthly {
            a {
                text-transform: capitalize;
                margin: 0 0 7.5px 0;
            }

            .no-margin {
                margin: 0;
            }

            p {
                margin: 0;
                padding: 0;

                &.info {
                    color: rgba(0,0,0,.7);
                }

                &.fullname {
                    font-weight: 600;
                    font-size: 20px;
                    margin: 0 0 10px 0;
                }

                &.time {
                    float: right;
                    font-size: 13px;
                    text-align: right;
                    margin-top: -45px;

                    strong {
                        display: block;
                        color: rgba(0,0,0,.7);
                        font-weight: 600;
                    }
                }
            }
        }

>>>>>>> Stashed changes
        &.info {

            i {
                float: right;
                font-size: 140px;
                margin: -104px -75px 0 0;
                opacity: 0.6;
                color: rgba(0,0,0,.1);
<<<<<<< Updated upstream
=======
                display: inline-block;
            }

            a {
                float: right;
                margin-top: -43px;
                border-radius: 5px;
                margin-left: 10px;
                display: inline-block;
>>>>>>> Stashed changes
            }

            p {
                margin: 0;
                padding: 0;

                &.info {
                    color: rgba(0,0,0,.7);
                }

                &.fullname {
                    font-weight: 600;
                    font-size: 20px;
                }

                &.time {
                    float: right;
                    font-size: 13px;
                    text-align: right;
                    margin-top: -45px;

                    strong {
                        display: block;
                        color: rgba(0,0,0,.7);
                        font-weight: 600;
                    }
                }
            }
        }

        &.stats {
            .icon {
                float: left;
                width: 45px;
                height: 45px;
                margin: 0 15px 0 0;
                border-radius: 5px;
                box-shadow: rgb(30 41 59 / 4%) 0 2px 4px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    display: inline-block;
                    vertical-align: middle;
                    image-rendering: pixelated;
                    font-size: 18px;
                }

                &.green {
                    border: 1px solid #badbcc;
                    background-color: #d1e7dd;
                    color: #0f5132;
                }

                &.red {
                    border: 1px solid #f5c2c7;
                    background-color: #f8d7da;
                    color: #842029;
                }

                &.yellow {
                    border: 1px solid #ffecb5;
                    background-color: #fff3cd;
                    color: #664d03;
                }

                &.grey {
                    border: 1px solid #d3d6d8;
                    background-color: #e2e3e5;
                    color: #41464b;
                }
            }
            p {
                margin: 0;
                padding: 0;

                &.title {
                    display: inline-block;
                    font-weight: 400;
                    font-size: 13px;
                    color: rgba(0,0,0,.7);
                }

                &.month {
                    float: right;
                    display: inline-block;
                    font-size: 12px;
                    color: rgba(0,0,0,.3);
                    margin-top: 1px;
                }

                &.amount {
                    font-weight: 600;
                    font-size: 16px;
                    display: block;

                    &.red {
                        color: #842029;
                    }
                }
            }
        }
    }
}
