@import "root";

// Import color with rgb from root:     rgb(var(--colorName))
// Import simple var from root:         var(--varName)

html, body {
    margin: 0;
    padding: 0;
    background: rgb(var(--colorBackground));
    font-family: var(--fontBase);
    font-size: var(--fontSize);
    color: rgb(var(--colorText));

    &.auth {
        background: #f8fafc;
        margin-bottom: 0 !important;

        .payview-logo {
            color: rgb(var(--colorText));
            text-decoration: none;
            margin: 0 0 25px 0;
            font-size: 25px;
            font-weight: 500;
        }

        .no-account {
            color: #626976;
            font-size: 13px;

            a {
                color: #0d6efd;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .auth-card {
            box-shadow: rgb(30 41 59 / 4%) 0 2px 4px 0;
            border: 1px solid rgba(98,105,118,.16);
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border-radius: 5px;
            width: 23%;
            margin: 0 0 20px 0;
            overflow: hidden;

            .hr-text {
                margin: 0;
            }

            .auth-card-body {
                padding: 20px;

                &.error {
                    border-top: 1px solid #f5c2c7;
                    border-bottom: 1px solid #f5c2c7;
                    margin: 10px 0 0 0;
                    background: #f8d7da;
                    color: #842026;
                    text-align: center;
                    font-size: 12px;
                    padding: 15px 10px;

                    strong {
                        display: block;
                        font-size: 13px;
                    }
                }

                &.extra-padding {
                    padding: 30px 20px 10px 20px;
                }

                h2 {
                    display: block;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5rem;
                }

                p {
                    margin: 0;
                    padding: 0;
                    font-size: 12px;
                    color: rgb(102,102,102);
                }

                &.border-bottom {
                    border-bottom: 1px solid rgba(101, 109, 119, 0.16);
                }

                .form-label {
                    margin-bottom: 0.5rem;
                    font-weight: 500;
                    color: #1e293b;
                }

                .btn {
                    padding: 10px;
                }
            }
        }
    }
}

.hr-text {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.6;
    height: 1px;
    color: #626976;

    &::before {
        content: "";
        margin-right: 0.5rem;
        flex: 1 1 auto;
        height: 1px;
        background-color: currentColor;
        opacity: .16;
    }

    &::after {
        content: "";
        margin-left: 0.5rem;
        flex: 1 1 auto;
        height: 1px;
        background-color: currentColor;
        opacity: .16;
    }
}
