@import "root";
@import "auth";
@import "card";

// Import color with rgb from root:     rgb(var(--colorName))
// Import simple var from root:         var(--varName)

html, body {
    margin: 0;
    padding: 0;
    background: rgb(var(--colorBackground));
    font-family: var(--fontBase);
    font-size: var(--fontSize);
    color: rgb(var(--colorText));
}

.hr-text {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1.6;
    height: 1px;
    color: #626976;

    &::before {
        content: "";
        margin-right: 0.5rem;
        flex: 1 1 auto;
        height: 1px;
        background-color: currentColor;
        opacity: .16;
    }

    &::after {
        content: "";
        margin-left: 0.5rem;
        flex: 1 1 auto;
        height: 1px;
        background-color: currentColor;
        opacity: .16;
    }
}

header {
    ul {
        li {

            button {
                background: none;
                border: none;
                --bs-text-opacity: 1;
                color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity)) !important;

                i {
                    font-size: 20px;
                }

                &:hover {
                    --bs-text-opacity: 1;
                    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) !important;
                }
            }

            &:hover {
                a {
                    --bs-text-opacity: 1;
                    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) !important;
                }
            }
            a {
                --bs-text-opacity: 1;
                color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity)) !important;

                &.active {
                    --bs-text-opacity: 1;
                    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity)) !important;
                }

                i {
                    font-size: 20px;
                }
            }
        }
    }
}
